@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

/* Universal Start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--header-font);
}

:root {
  --header-font: "Rubik", sans-serif;
  --tomato: #ff861c;
  --blue: #055dbc;
  --light-blue: #0776ee;
  --white: #ffffff;
  --black: #000000;
  --color-body: #ecf1f4;
  --color-primary: #fe6f00;
  --color-white: #ffffff;
  --color-black: #373737;
  --color-btn: #fe6f00;
  --color-link: #0d6efd;
  --color-hover: #63808e;
  --color-success: #4cc67f;
  --box-shadow: 8px 8px 30px rgba(161, 152, 152, 0.1);
  --border-radius: 10px;
}

/* Universal End */

/* DASHBOARD PAGE CSS */
/* >>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Dashboard Start */
.dahsboard-navbar-toggler {
  color: #fff;
}

.dashboard-cols {
  padding: 0 !important;
  margin: 0 !important;
}

.dashboard-sidebar {
  position: fixed;
  width: 300px;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #0776ee;
  padding: 20px;
  transition: 0.5s;
}

/* this code removes the invisibity of navbar */
.dashboard-sidebar.close {
  width: 0;
  padding: 20px 0;
  visibility: hidden;
}
/* this code removes the invisibity of navbar */

.home {
  position: relative;
  left: 300px;
  width: calc(100% - 300px);
  transition: 0.5s;
}

.dashboard-sidebar.close ~ .home {
  left: 0;
  width: calc(100%);
}

.sidebar-header {
  align-items: center;
}

.sidebar-header .sidebar-logo {
  width: 180px;
}

#sideNavbarXmarkIcon {
  border: none;
  background-color: transparent;
  color: var(--white);
  font-size: 1.3em;
}

.dashboard-sidebar .navbar-nav {
  list-style: none;
}

.dashboard-sidebar .navbar-nav li {
  padding: 8px;
  transition: 0.5s;
}

.dashboard-sidebar .navbar-nav li a {
  color: var(--white);
  font-size: 1em;
  text-decoration: none;
}

.dashboard-sidebar .navbar-nav li a i {
  padding-right: 10px;
}

.dashboard-sidebar .navbar-nav li:hover {
  background-color: #003670;
}

.dashboard-content {
  background: url(../img/dashboard-bg.png);
  width: 100%;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.15);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 30px;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.dashboard-price {
  text-align: right;
}

.dashboard-content-header h2 {
  font-size: 1.7em;
  font-family: var(--header-font);
  color: var(--black);
  font-weight: 500;
}

.dashboard-content-header p {
  font-size: 1em;
  font-family: var(--header-font);
  color: var(--black);
  font-weight: 400;
}

.dashboard-content-btn {
  margin-top: 60px;
}

.dashboard-content-btn a:nth-child(1) {
  text-decoration: none;
  background-color: rgba(7, 118, 238, 0.85);
  color: var(--white);
  font-size: 14px;
  padding: 15px 40px;
  border-radius: 6px;
  margin-right: 15px;
}

.dashboard-content-btn a:nth-child(1):hover {
  background-color: rgba(6, 93, 187, 0.85);
  transition: 0.3s ease;
}

.dashboard-content-btn a:nth-child(2) {
  text-decoration: none;
  background-color: var(--tomato);
  color: var(--white);
  font-size: 14px;
  padding: 15px 40px;
  border-radius: 6px;
}

.dashboard-content-btn a:nth-child(2):hover {
  background-color: #da6a08;
  transition: 0.3s ease;
}

.dashboard-price h4 {
  font-size: 1.6em;
  font-family: var(--header-font);
  color: var(--black);
  font-weight: 500;
}

.dashboard-price p {
  font-size: 2em;
  font-family: var(--header-font);
  color: #003670;
  font-weight: 500;
}

#sideNavbarIcon {
  border: none;
  background-color: transparent;
  font-size: 1.6em;
  display: inline-block;
  width: 50px;
  margin-right: 50px;
  color: var(--tomato);
}

#sidenavbar {
  left: -100%;
  transition: 0.5s;
}

.showSidebar {
  left: 0% !important;
}

@media screen and (max-width: 1400px) {
  .dahsboard-navbar ul {
    padding: 20px 20px 0 20px;
  }
}

@media screen and (max-width: 1200px) {
  .dashboard-content-header h2 {
    font-size: 1.4em;
  }

  .dashboard-price h4 {
    font-size: 1.3em;
  }

  .dashboard-price p {
    font-size: 1.8em;
  }

  .dashboard-content-btn a:nth-child(1),
  .dashboard-content-btn a:nth-child(2) {
    padding: 8px 20px;
  }
}

@media screen and (max-width: 990px) {
  .dahsboard-navbar ul li a {
    font-size: 1em;
  }

  .navbar-toggler {
    display: none !important;
  }

  .dahsboard-navbar ul li a:hover {
    color: #fff !important;
  }

  .dashboard-price {
    text-align: left;
    padding-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .home {
    position: relative;
    left: 0px;
    width: calc(100%);
    transition: 0.5s;
  }

  #sideNavbarIcon {
    z-index: 11;
  }

  .dashboard-sidebar {
    z-index: 10;
  }
}

@media screen and (max-width: 575px) {
  .dashboard-content-btn a {
    display: block;
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .dashboard-content {
    background-image: none;
    margin-top: 0 !important;
  }

  .dashboard-price {
    margin-top: 50px;
  }

  .dahsboard-navbar {
    background: rgba(7, 118, 238, 0.85) !important;
    height: 60vh;
  }

  .dahsboard-navbar ul li a {
    color: var(--white) !important;
  }

  .navbar-brand img {
    width: 230px;
  }

  #sideNavbarIcon {
    width: 50px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 425px) {
  .navbar-brand {
    width: 230px;
  }
}

.dashboard-job-posts {
  background: url(../img/dashboard-job-posts-bg.png);
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 50px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.15);
  margin-bottom: 60px;
}

.dashboard-job-posts h5 {
  padding-top: 0px;
}

.job-table {
  width: 100%;
}

.job-table th,
td {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-right: 40px;
}

.tb-view-btn a {
  background-color: var(--blue);
  padding: 8px;
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
  font-size: 14px;
  font-family: var(--header-font);
}

.tb-view-btn a:hover {
  color: var(--white);
}

@media screen and (max-width: 1400px) {
  .job-table {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
  }
}

@media screen and (max-width: 575px) {
  .job-table {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .dashboard-job-posts {
    width: 100% !important;
  }

  .dahsboard-navbar {
    background-color: #fff;
    color: #003670;
  }

  .dahsboard-navbar ul li a {
    color: #003670;
  }

  .dashboard-content {
    margin-top: -500px;
    z-index: 5;
  }

  .nav {
    padding-left: 0 !important;
  }
}

/* Dashboard End */

/* search delivery category page start */

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

body {
  color: #354a54;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.category-select-sec {
  padding: 5rem 0;
}

.section-title h2 {
  position: relative;
  margin-bottom: 4rem;
  color: var(--color-black);
  font-size: 2.5rem;
  font-family: var(--header-font);
  margin-top: unset;
  line-height: 1.2;
}

.section-title h2::before {
  position: absolute;
  bottom: -22px;
  left: 0;
  content: "";
  width: 50px;
  height: 2px;
  background-color: var(--color-primary);
  margin: auto;
}

.section-title h2::after {
  position: absolute;
  bottom: -22px;
  left: 0;
  content: "";
  width: 5px;
  height: 2px;
  margin: auto;
  background-color: #ffffff;
  -webkit-animation: moveLeftBounces 10s linear infinite;
  animation: moveLeftBounces 10s linear infinite;
}

.section-title.center h2::before {
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  content: "";
  width: 150px;
  height: 2px;
  background-color: var(--color-primary);
  margin: auto;
}

.section-title.center h2::after {
  position: absolute;
  bottom: -25px;
  left: -45px;
  right: 0;
  content: "";
  width: 5px;
  height: 2px;
  margin: auto;
  background-color: #ffffff;
  -webkit-animation: moveLeftBounces 10s linear infinite;
  animation: moveLeftBounces 10s linear infinite;
}

@keyframes moveLeftBounces {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(45px);
    transform: translateX(45px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

span.text-highlight {
  color: #fe6f00;
  font-family: var(--tomato);
}

.btn {
  display: inline-block;
  background: var(--color-link);
  color: var(--color-white);
  font-size: 1.4rem;
  font-family: poppins-semi-bold;
  padding: 1.2rem 3rem;
  margin-top: 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-black);
  border: 1px solid;
}

.category-select-sec {
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f9;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 90rem;
  user-select: none;
  max-width: 110rem;
  user-select: none;
  background: white;
  padding: 3rem 10rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

.checkbox-input {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox-input:checked + .checkbox-tile {
  border-color: var(--color-success);
  box-shadow: var(--box-shadow);
  color: var(--color-success);
}

.checkbox-input:checked + .checkbox-tile .checkbox-icon path {
  fill: var(--color-success);
}

.checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: var(--color-success);
  border-color: var(--color-success);
}

.checkbox-icon,
.checkbox-label {
  color: var(--color-success);
  font-size: 1em !important;
}

.checkbox-input:focus + .checkbox-tile {
  border-color: var(--color-success);
  box-shadow: var(--box-shadow);
}

.checkbox-input:focus + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  padding: 1rem;
  border: 3px solid #eeeeee;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.checkbox-tile::before {
  content: "";
  position: absolute;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.6rem;
  left: 0.6rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.checkbox-tile:hover {
  border-color: var(--color-success);
}

.checkbox-tile:hover::before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-icon {
  transition: 0.375s ease;
  color: #494949;
}

.checkbox-icon > svg {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
}

.checkbox-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
  font-size: 1.5rem;
}

label {
  width: 100%;
}

.category-btn button {
  padding: 10px 30px;
  border: none;
  background-color: var(--light-blue);
  border-radius: 8px;
  color: var(--white);
  font-weight: 600;
}

/* --Start-Responsiveness-- */
@media (max-width: 1200px) {
  .checkbox-group {
    padding: 5rem 3rem;
  }
}

@media (max-width: 992px) {
  .checkbox-icon > svg {
    width: 2.3rem;
    height: 2.3rem;
  }
}

@media (max-width: 768px) {
  .category-select-sec {
    padding: 5rem 0;
  }

  .section-title h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 575px) {
  .checkbox-tile::before {
    width: 1rem;
    height: 1rem;
  }

  .checkbox-group {
    padding: 4rem 0.9em;
  }

  .checkbox-icon > svg {
    width: 2rem;
    height: 2rem;
  }

  .checkbox-tile {
    min-height: 3rem;
    padding: 8px !important;
    height: 120px;
  }

  .checkbox-label {
    font-size: 0.9em !important;
  }

  .checkbox-item {
    padding: 5px !important;
    margin-top: 8px !important;
  }
}
/* search delivery category page end */

/* Transport Company Start */

#transport-company {
  background: url(../img/footer-bg.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 10 !important;
  margin-top: 218px;
}

.tarnsport-company-content {
  color: var(--white);
  padding: 50px 0 20px 0;
  font-family: var(--header-font);
}

.tarnsport-company-content h1 {
  color: var(--white);
  padding-bottom: 20px;
  font-family: var(--header-font);
  font-size: 2.4em;
}

.tarnsport-company-content p {
  color: var(--white);
  font-family: var(--header-font);
  font-size: 1em;
}

.tarnsport-company-content p:nth-child(4) {
  margin-top: -15px;
}

.transport-company-btn {
  text-decoration: none;
  border: none;
  background-color: #ca1f26;
  color: var(--white);
  padding: 12px 30px;
  border-radius: 6px;
  font-family: var(--header-font);
  font-size: 14px;
  transition: 0.5s;
}

.transport-company-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

/* Transport Company End */

/* Footer Start */

#footer {
  background-color: #161616;
  padding: 85px 0;
  color: var(--white);
  position: relative;
  z-index: 10;
}

.footer-first-cols-content {
  margin-top: 50px;
}

.footer-first-cols-content .footer-logo {
  width: 80%;
  margin-bottom: 20px;
}

.footer-first-cols-content ul {
  list-style: none;
  padding: 0;
}

.footer-first-cols-content ul li {
  margin: 20px 0;
}

.footer-first-cols-content ul li a {
  text-decoration: none;
  color: var(--white);
}

.footer-social-icons-item {
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-social-icons-item .social-icons-link i {
  text-decoration: none;
  background-color: #055dbc;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--white);
  border-radius: 50%;
  margin-right: 5px;
}

.footer-social-icons-item .social-icons-link .fa-facebook-f {
  background-color: #2374e0;
}

.footer-social-icons-item .social-icons-link .fa-twitter {
  background-color: #1da1f3;
}

.footer-social-icons-item .social-icons-link .fa-linkedin-in {
  background-color: #0077b4;
}

.footer-social-icons-item .social-icons-link .fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  font-size: 1.4em;
}

@media screen and (max-width: 575px) {
  #footer {
    text-align: center;
  }
}

/* Footer End */

/* Copyright Footer Start */

#copyright-footer {
  position: relative;
  background-color: var(--black);
  padding: 20px;
  text-align: center;
  color: var(--white);
  z-index: 100;
}

@media screen and (max-width: 575px) {
  .hostxwhite-img {
    width: 100px;
  }
}
/* Copyright Footer End */

/* ............................... */

/* profile edit PAGE CSS */
/* >>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Dashboard Search Deliveri Start */

/* search header */

.search-deliveri-header h1 {
  font-family: var(--header-font);
  color: var(--tomato);
  font-size: 2.8em;
  font-weight: 600;
  text-align: center;
  padding-top: 50px;
}

.search-deliveri-header h1 span {
  color: var(--black);
}

.devider {
  width: 250px;
  height: 3px;
  background-color: var(--black);
  border-radius: 50px;
  position: relative;
  margin: auto;
  margin-bottom: 80px;
}

.devider::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 4px;
  background-color: var(--tomato);
  border-radius: 30px;
  top: -0.6px;
  left: 0;
}

@media screen and (max-width: 990px) {
  .search-deliveri-header h1 {
    font-size: 2em;
  }

  .devider {
    width: 200px;
  }
}

/* search main tabs */

.main-tabs {
  border: none !important;
}

.main-tabs .nav-link {
  font-family: var(--header-font) !important;
  color: var(--black) !important;
}

.main-tabs .nav-link.active {
  background-color: var(--tomato) !important;
  color: var(--white) !important;
}

@media screen and (max-width: 1200px) {
  .main-tabs .nav-link {
    font-size: 0.9em;
    padding: 6px 12px;
  }
}

/* tab content */

.search-tab-content {
  border: 1px solid rgba(255, 122, 18, 0.4);
  border-radius: 6px;
  padding: 30px 15px;
}

.search-alert-box {
  position: relative;
  padding: 10px;
  border: 1px solid rgba(7, 118, 238, 0.35);
  font-size: 14px;
  border-radius: 6px;
}

.search-close-btn {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
  font-size: 1.1em;
}

/* search sub tabs */

.sub-tabs {
  width: 410px;
  margin: auto;
  background-color: rgba(7, 118, 238, 0.12);
  border-radius: 30px;
  margin-top: 50px;
}

.sub-tabs .nav-link {
  font-family: var(--header-font) !important;
  font-size: 1em !important;
  border-radius: 30px !important;
  color: var(--black) !important;
}

.sub-tabs .nav-link.active {
  background-color: var(--light-blue) !important;
  color: var(--white) !important;
}

/* sub tabs content */

.search-input-box {
  border: 1px solid rgba(7, 118, 238, 0.35);
  border-radius: 6px;
  height: 250px;
  display: grid;
  align-items: center;
  padding: 20px 30px;
  margin-top: 20px;
}

.search-input-box label:nth-child(1) {
  font-family: var(--header-font);
  color: var(--tomato);
  font-size: 1em;
  font-weight: 500;
}

.search-input-box label:nth-of-type(2) {
  font-family: var(--header-font);
  color: var(--light-blue);
  font-size: 1em;
  font-weight: 500;
  margin-top: 20px;
}

.input-box-items {
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  height: 45px;
}

.input-box-items .input-box {
  width: calc(100% - 45px);
  height: 45px;
  border: 1px solid rgba(7, 118, 238, 0.35);
  border-right: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 0 10px;
  font-family: var(--header-font);
}

.input-box-items .input-box:focus {
  outline: none;
}

.input-box-items span i {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 1px solid rgba(7, 118, 238, 0.35);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 1.2em;
  background-color: #f0f0f0;
}

.input-box-items span i {
  color: var(--tomato);
}

.input-box-items .search-icon-2 i {
  color: var(--light-blue);
}

.search-deliver-tabs-btn {
  margin-top: 10px;
}

.search-deliver-tabs-btn button {
  border: none;
  color: var(--white);
  padding: 12px 25px;
  margin: 10px;
  font-size: 1em;
  font-family: var(--header-font);
  border-radius: 6px;
}

.search-deliver-tabs-btn button:nth-child(1) {
  background-color: var(--light-blue);
}

.search-deliver-tabs-btn button:nth-child(2) {
  background-color: var(--tomato);
}

.search-deliver-tabs-btn button span {
  margin-right: 8px;
}

.search-radius-label {
  color: var(--blue) !important;
  padding-bottom: 20px;
}

.search-local-options {
  margin-bottom: -10px;
}

.search-btn {
  padding: 12px 45px !important;
}

/* .reset-btn {
} */

@media screen and (max-width: 1400px) {
  .search-input-box .form-check-label {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 1200px) {
  .search-input-box {
    padding: 10px;
  }
}

@media screen and (max-width: 990px) {
  .search-input-box {
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .sub-tabs {
    width: 300px;
  }

  .sub-tabs .nav-link {
    font-size: 0.8em !important;
    padding: 6px 8px;
  }
}

/* search table */

.search-table-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.pagination-result span {
  color: var(--light-blue);
  font-weight: 600;
}

.search-main-table {
  background: url(../img/search-deliver-bg.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 20px;
}

.deliver-page-count select {
  background: transparent;
  border: 1px solid var(--white);
  border-radius: 6px;
  padding: 3px 10px;
  margin-left: 6px;
}

.search-table-bottom-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.search-table-bottom-pagination .pagination {
  margin-bottom: 0;
}

.search-table {
  white-space: nowrap;
  overflow-x: auto;
}

.transporter-table-box {
  margin-top: 50px;
  display: none;
  width: 100%;
  height: 23vh;
  transition: 0.5s;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.125);
}

.transporter-table-box:hover {
  background-color: var(--tomato);
  color: var(--white);
}

.avatar-img p {
  font-weight: 700;
  margin-top: 10px !important;
}

.transporter-table-box p {
  padding-left: 10px;
  margin-top: -4px;
}

.fast-text {
  padding-left: 50px;
}

.dropdown {
  padding-left: 50px;
}

.deviders {
  width: 120px;
  height: 5px;
  border-radius: 30px;
  background-color: var(--tomato);
  margin: 80px auto;
}

@media screen and (max-width: 987px) {
  .transporter-table-box {
    width: 100%;
    height: 28vh;
  }
}

@media screen and (max-width: 768px) {
  .search-table-pagination .pagination {
    display: none;
  }

  .search-table-bottom-pagination {
    display: block;
    text-align: center;
  }

  .search-table-bottom-pagination .pagination {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 985px) {
  .search-table {
    display: none;
  }

  .transporter-table-box {
    display: block;
    margin: 20px auto;
    z-index: 1000;
    border-radius: 10px;
    width: 100%;
  }

  .search-main-table {
    background: url(../img/search-deliver-bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -20;
  }
}
