@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

/* Universal Start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--header-font);
}

:root {
  --header-font: "Rubik", sans-serif;
  --tomato: #ff861c;
  --blue: #055dbc;
  --light-blue: #0776ee;
  --brown: #c90606;
  --white: #ffffff;
  --black: #000000;
  --color-body: #ecf1f4;
  --color-primary: #ca1f26;
  --color-white: #ffffff;
  --color-black: #373737;
  --color-btn: #ca1f26;
  --color-link: #0d6efd;
  --color-hover: #63808e;
  --color-success: #00a651;
  --box-shadow: 8px 8px 30px rgba(161, 152, 152, 0.1);
  --border-radius: 10px;
}

/* Universal End */

/* DASHBOARD PAGE CSS */
/* >>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Dashboard Start */
.dahsboard-navbar-toggler {
  color: #fff;
}

.dashboard-cols {
  padding: 0 !important;
  margin: 0 !important;
}

.dashboard-sidebar {
  position: fixed;
  width: 300px;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #0776ee;
  padding: 20px;
  transition: 0.5s;
}

/* @media screen and (max-width: 7680px) {
  .dashboard-sidebar {
    height: 75%;
  }
}

@media screen and (max-width: 3840px) {
  .dashboard-sidebar {
    height: 130%;
  }
}

@media screen and (max-width: 2560px) {
  .dashboard-sidebar {
    height: 180%;
  }
}

@media screen and (max-width: 1920px) {
  .dashboard-sidebar {
    height: 240%;
  }
}

@media screen and (max-width: 993px) {
  .dashboard-sidebar {
    height: 310%;
  }
} */

@media screen and (max-width: 575px) {
  .dashboard-sidebar {
    height: 400%;
  }
}

/* this code removes the invisibity of navbar */
.dashboard-sidebar.close {
  width: 0;
  padding: 20px 0;
  visibility: hidden;
}
/* this code removes the invisibity of navbar */

.home {
  position: relative;
  left: 300px;
  width: calc(100% - 300px);
  transition: 0.5s;
}

.dashboard-sidebar.close ~ .home {
  left: 0;
  width: calc(100%);
}

.sidebar-header {
  align-items: center;
}

.sidebar-header .sidebar-logo {
  width: 180px;
}

#sideNavbarXmarkIcon {
  border: none;
  background-color: transparent;
  color: var(--white);
  font-size: 1.3em;
}

.dashboard-sidebar .navbar-nav {
  list-style: none;
}

.dashboard-sidebar .navbar-nav li {
  padding: 8px;
  transition: 0.5s;
}

.dashboard-sidebar .navbar-nav li a {
  color: var(--white);
  font-size: 1em;
  text-decoration: none;
}

.dashboard-sidebar .navbar-nav li a i {
  padding-right: 10px;
}

.dashboard-sidebar .navbar-nav li:hover {
  background-color: #003670;
}

.dashboard-content {
  background: url(../img/dashboard-bg.png);
  width: 100%;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.15);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 30px;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.dashboard-price {
  text-align: right;
}

.dashboard-content-header h2 {
  font-size: 1.7em;
  font-family: var(--header-font);
  color: var(--black);
  font-weight: 500;
}

.dashboard-content-header p {
  font-size: 1em;
  font-family: var(--header-font);
  color: var(--black);
  font-weight: 400;
}

.dashboard-content-btn {
  margin-top: 60px;
}

.dashboard-content-btn a:nth-child(1) {
  text-decoration: none;
  background-color: rgba(7, 118, 238, 0.85);
  color: var(--white);
  font-size: 14px;
  padding: 15px 40px;
  border-radius: 6px;
  margin-right: 15px;
}

.dashboard-content-btn a:nth-child(1):hover {
  background-color: rgba(6, 93, 187, 0.85);
  transition: 0.3s ease;
}

.dashboard-content-btn a:nth-child(2) {
  text-decoration: none;
  background-color: var(--tomato);
  color: var(--white);
  font-size: 14px;
  padding: 15px 40px;
  border-radius: 6px;
}

.dashboard-content-btn a:nth-child(2):hover {
  background-color: #da6a08;
  transition: 0.3s ease;
}

.dashboard-price h4 {
  font-size: 1.6em;
  font-family: var(--header-font);
  color: var(--black);
  font-weight: 500;
}

.dashboard-price p {
  font-size: 2em;
  font-family: var(--header-font);
  color: #003670;
  font-weight: 500;
}

#sideNavbarIcon {
  border: none;
  background-color: transparent;
  font-size: 1.6em;
  display: inline-block;
  width: 50px;
  margin-right: 50px;
  color: var(--tomato);
}

#sidenavbar {
  left: -100%;
  transition: 0.5s;
}

.showSidebar {
  left: 0% !important;
}

@media screen and (max-width: 1400px) {
  .dahsboard-navbar ul {
    padding: 20px 20px 0 20px;
  }
}

@media screen and (max-width: 1200px) {
  .dashboard-content-header h2 {
    font-size: 1.4em;
  }

  .dashboard-price h4 {
    font-size: 1.3em;
  }

  .dashboard-price p {
    font-size: 1.8em;
  }

  .dashboard-content-btn a:nth-child(1),
  .dashboard-content-btn a:nth-child(2) {
    padding: 8px 20px;
  }
}

@media screen and (max-width: 990px) {
  .dahsboard-navbar ul li a {
    font-size: 1em;
  }

  .navbar-toggler {
    display: none !important;
  }

  .dahsboard-navbar ul li a:hover {
    color: #fff !important;
  }

  .dashboard-price {
    text-align: left;
    padding-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .home {
    position: relative;
    left: 0px;
    width: calc(100%);
    transition: 0.5s;
  }

  #sideNavbarIcon {
    z-index: 11;
  }

  .dashboard-sidebar {
    z-index: 10;
  }
}

@media screen and (max-width: 575px) {
  .dashboard-content-btn a {
    display: block;
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .dashboard-content {
    background-image: none;
    margin-top: 0 !important;
  }

  .dashboard-price {
    margin-top: 50px;
  }

  .dahsboard-navbar {
    background: rgba(7, 118, 238, 0.85) !important;
    height: 60vh;
  }

  .dahsboard-navbar ul li a {
    color: var(--white) !important;
  }

  .navbar-brand img {
    width: 250px;
  }
}

@media screen and (max-width: 425px) {
  .navbar-brand {
    width: 230px;
  }
}

@media screen and (max-width: 575px) {
  .dahsboard-navbar {
    background-color: #fff;
    color: #003670;
  }

  .dahsboard-navbar ul li a {
    color: #003670;
  }

  .dashboard-content {
    margin-top: -500px;
    z-index: 5;
  }

  .nav {
    padding-left: 0 !important;
  }
}

.dashboard-job-posts {
  background: url(../img/dashboard-job-posts-bg.png);
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 50px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.15);
  margin-bottom: 60px;
}

.dashboard-job-posts h5 {
  padding-top: 0px;
}

.job-table {
  width: 100%;
}

.job-table th,
td {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-right: 40px;
}

.tb-view-btn a {
  background-color: var(--blue);
  padding: 8px;
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
  font-size: 14px;
  font-family: var(--header-font);
}

.tb-view-btn a:hover {
  color: var(--white);
}

@media screen and (max-width: 1400px) {
  .job-table {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
  }
}

@media screen and (max-width: 575px) {
  .job-table {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .dashboard-job-posts {
    width: 100% !important;
  }

  .dahsboard-navbar {
    background-color: #fff;
    color: #003670;
  }

  .dahsboard-navbar ul li a {
    color: #003670;
  }

  .dashboard-content {
    margin-top: -500px;
    z-index: 5;
  }

  .nav {
    padding-left: 0 !important;
  }
}

/* Dashboard End */

/* Transport Company Start */

#transport-company {
  background: url(../img/footer-bg.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 10 !important;
}

.tarnsport-company-content {
  color: var(--white);
  padding: 50px 0 20px 0;
  font-family: var(--header-font);
}

.tarnsport-company-content h1 {
  color: var(--white);
  padding-bottom: 20px;
  font-family: var(--header-font);
  font-size: 2.4em;
}

.tarnsport-company-content p {
  color: var(--white);
  font-family: var(--header-font);
  font-size: 1em;
}

.tarnsport-company-content p:nth-child(4) {
  margin-top: -15px;
}

.transport-company-btn {
  text-decoration: none;
  border: none;
  background-color: #ca1f26;
  color: var(--white);
  padding: 12px 30px;
  border-radius: 6px;
  font-family: var(--header-font);
  font-size: 14px;
  transition: 0.5s;
}

.transport-company-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

/* Transport Company End */

/* Footer Start */

#footer {
  background-color: #161616;
  padding: 70px 0;
  color: var(--white);
  position: relative;
  z-index: 10;
}

.footer-first-cols-content {
  margin-top: 50px;
}

.footer-first-cols-content .footer-logo {
  width: 80%;
  margin-bottom: 20px;
}

.footer-first-cols-content ul {
  list-style: none;
  padding: 0;
}

.footer-first-cols-content ul li {
  margin: 20px 0;
}

.footer-first-cols-content ul li a {
  text-decoration: none;
  color: var(--white);
}

.footer-social-icons-item {
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-social-icons-item .social-icons-link i {
  text-decoration: none;
  background-color: #055dbc;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--white);
  border-radius: 50%;
  margin-right: 5px;
}

.footer-social-icons-item .social-icons-link .fa-facebook-f {
  background-color: #2374e0;
}

.footer-social-icons-item .social-icons-link .fa-twitter {
  background-color: #1da1f3;
}

.footer-social-icons-item .social-icons-link .fa-linkedin-in {
  background-color: #0077b4;
}

.footer-social-icons-item .social-icons-link .fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  font-size: 1.4em;
}

@media screen and (max-width: 575px) {
  #footer {
    text-align: left;
  }
}

/* Footer End */

/* Copyright Footer Start */

#copyright-footer {
  position: relative;
  background-color: var(--black);
  padding: 20px;
  text-align: center;
  color: var(--white);
  z-index: 10000 !important;
}

@media screen and (max-width: 575px) {
  .hostxwhite-img {
    width: 100px;
  }
}
/* Copyright Footer End */

/* ............................... */

/* JOB SINGLE PAGE CSS */
/* >>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Job Details Start */

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  color: #354a54;
  background-color: var(--color-body) !important;
}

section {
  padding: 4rem 0;
}

a {
  text-decoration: none;
  color: var(--color-link);
  cursor: pointer;
}

a:hover {
  color: var(--color-hover) !important;
}

ul {
  list-style: none;
}

ul li a:hover {
  color: var(--color-hover) !important;
}

h1 {
  font-size: 4rem;
  font-family: poppins-bold;
}

h3 {
  font-size: 2.4rem;
  font-family: var(--header-font);
  margin: 2rem 0;
  color: #354a54;
}

h2,
.section-header h3 {
  font-size: 3.5rem;
  font-family: var(--header-font);
  margin-top: unset;
  margin-bottom: 3rem;
  line-height: 1.2;
}

h4 {
  font-size: 2.6rem;
}

h5 {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
  font-family: var(--header-font);
  line-height: 1.5;
  color: #373737;
}

.section-header p {
  line-height: 1.5;
  color: #575a7b;
  font-size: 4rem;
  margin: 2rem auto;
  font-family: var(--header-font);
  max-width: 90rem;
}

small {
  font-size: 12px;
}

strong {
  color: var(--color-black);
}

img {
  max-width: 100%;
  object-fit: cover;
}

input {
  outline: none;
  border: none;
  font-family: var(--header-font);
  font-size: 1.6rem;
}

input::placeholder {
  font-size: 1.5rem;
  color: #292929;
  font-family: var(--header-font);
}

input[type="text"]:focus,
textarea:focus {
  outline: 0;
}

.btn-container {
  margin-top: 5rem;
  width: 100%;
}

.btn {
  display: inline-block;
  background: var(--color-primary);
  color: var(--color-white);
  font-size: 1.4rem;
  font-family: var(--header-font);
  padding: 1.2rem 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  width: 100%;
  border: 1px solid;
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-black);
  border: 1px solid;
}

.btn-small {
  font-size: 1.4rem;
  padding: 1.2rem 2rem;
  width: auto;
  margin: 0;
  cursor: pointer;
}

p.section-para {
  margin-bottom: 4rem;
  line-height: 1.7;
}

/* --End-global-- */

/* ----- */
.card.small-card {
  box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.1);
}

.card.small-card.small-card-1 {
  border-top: 0.6rem solid #005abb !important;
}

.card.small-card.small-card-2 {
  border-top: 0.6rem solid #fe6f00 !important;
}

.card.small-card.small-card-3 {
  border-top: 0.6rem solid #1c1c1c !important;
}

.card.small-card.small-card-4 {
  border-left: 0.6rem solid #fe6f00 !important;
}

.card.small-card.small-card-5 {
  border-left: 0.6rem solid #00a1fe !important;
}

.card {
  padding: 1.2rem;
  border-radius: 1.2rem !important;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  -ms-border-radius: 1.6rem;
  -o-border-radius: 1.6rem;
  box-shadow: 8px 8px 30px rgba(161, 152, 152, 0.1);
}

.job-inform-time-cards-content h3 {
  font-size: 1.4em;
}

.card p {
  font-size: 1em;
  margin-bottom: 0;
}

.card .icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.small-card.small-card-1 .icon {
  background-color: #005abb !important;
}

.card.small-card.small-card-2 .icon {
  background-color: #fe6f00 !important;
}

.card.small-card.small-card-3 .icon {
  background-color: #1c1c1c !important;
}

.card.small-card.small-card-4 .icon {
  background-color: #fe6f00 !important;
}

.card.small-card.small-card-5 .icon {
  background-color: #00a1fe !important;
}

.card-row-1 .card-body p {
  font-family: poppins-medium;

  color: #000000;
}

.live-job-profile-upgrade-btn-1 {
  background-color: var(--color-primary);
  text-decoration: none;
  border: none;
  font-size: 1em;
  margin: 0 auto 20px;
  padding: 10px 70px;
  color: white;
  border-radius: 6px;
  text-align: center;
  font-family: var(--header-font);
  border: 1px solid #aaaaaa;
  display: block;
  transition: 0.5s;
}

.job-details-head {
  background: url(../img/job-detail-head-bg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  margin: auto;
  color: #fff;
}

.job-details-head h1 {
  font-family: var(--header-font);
}

.live-job {
  background-color: #39ce25;
  padding: 0.6rem;
  color: white;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

.live-job h3 {
  overflow: hidden;
  font-size: 1.8rem;
  animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }

  50% {
    transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
  }

  100% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
}

.live-job-profile-avatar {
  width: 120px;
  margin: auto;
}

.live-job-profile-btn {
  text-align: center;
  margin-top: 20px;
}

.live-job-profile-upgrade-btn {
  background-color: var(--color-primary);
  text-decoration: none;
  border: none;
  width: 100%;
  font-size: 1em;
  margin: 0 auto 20px;
  padding: 10px 0;
  color: white;
  border-radius: 6px;
  text-align: center;
  font-family: var(--header-font);
  border: 1px solid #aaaaaa;
  display: block;
  transition: 0.5s;
}

.live-job-profile-upgrade-btn:hover {
  background-color: transparent;
  color: black;
}

.car-transport {
  background-color: #6c61dd;
  padding: 10px 0;
  text-align: center;
  border-radius: 6px;
  margin-top: 2rem;
}

.car-transport p:nth-child(1) {
  padding-bottom: 10px;
  font-family: var(--header-font);
  font-weight: 500;
}

.car-transport p a {
  font-weight: 400;
  text-decoration: none;
  color: white;
  text-decoration: underline;
}

.car-transport p:nth-child(2) {
  font-family: var(--header-font);
  font-weight: 600;
}

.live-job-profile-social-icons {
  background-color: #37cacb;
  padding: 20px 0;
  text-align: center;
  border-radius: 6px;
  margin-top: 40px;
}

.live-job-profile-social-icons .social-icons-link i {
  text-decoration: none;
  background-color: #fe6f00;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  border-radius: 50%;
  margin-right: 5px;
}

.job-inform-comment p {
  font-family: var(--header-font);
  color: var(--color-black);
  box-shadow: 0px 0px 15px #0000001a;
  font-size: 1em;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 6px;
}

/* ----- */

/* table */
.card.card-table table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0rem 0.9rem;
  font-size: 0.9rem !important;
}

.card.card-table table th {
  border: 0 !important;
  padding: 1rem 2.6rem !important;
  background-color: #493838;
  color: var(--color-white);
  letter-spacing: 1.5px;
  font-family: var(--header-font);
}

.card.card-table table tr {
  padding: 1.5rem;
}

table.dataTable > tbody > tr.child span.dtr-title {
  display: inline-block;
  min-width: 75px;
  font-weight: bold;
}

.card.card-table table td,
.card.card-table table th {
  /* height: 7rem !important; */
  vertical-align: middle;
  /* border: 0 !important; */
  border-bottom: 1px solid #ddd;
  padding: 0.6rem 2rem !important;
  color: #323232;
  font-family: var(--header-font);
  position: relative;
}

.card.card-table table th {
  color: white;
}

.pagination.active {
  background-color: #1f3779;
  color: var(--color-white);
}

.pagination {
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
  margin: 0 0.5rem;
  color: #ffffff;
  border: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #cdcdcd;
}

table td img {
  width: 3rem;
  height: 3rem;
  margin-right: 10px;
  margin-bottom: 15px;
}

.table-rating i {
  color: #ff861c;
}

.basic-account {
  position: absolute;
  display: block;
  left: 70px;
  margin-top: 40px;
  background-color: #06a3a7;
  font-size: 14px;
  line-height: 14px;
  padding: 3px 5px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.premium-account {
  position: absolute;
  display: block;
  left: 70px;
  margin-top: 40px;
  background-color: #ff9803;
  font-size: 14px;
  line-height: 14px;
  padding: 3px 5px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > td:first-child:before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr[role="row"]
  > th:first-child:before {
  top: 9px;
  left: 4px;
  height: 14px;
  width: 14px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: "Courier New", Courier, monospace;
  line-height: 16px;
  content: "+";
  background-color: #31b131;
  margin-top: 15px;
}

table.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > td:first-child:before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > th:first-child:before {
  content: "-";
  background-color: #d33333;
}

table.dataTable > tbody > tr.child ul.dtr-details {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*--Start-Responsiveness--*/

@media (max-width: 767px) {
  /* --Start-global-- */

  .section-header p {
    font-size: 1.6rem;
  }

  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  section {
    padding: 4rem 0;
  }

  h2,
  .section-header h3 {
    font-size: 3rem;
  }

  p.section-para {
    margin-bottom: 2rem;
  }

  /* --End-global-- */
  .job-details-head h1 {
    font-size: 3.4rem;
  }

  .job-details-head {
    background-size: contain;
    margin-bottom: 1rem !important;
  }

  .btn-small {
    padding: 1.2rem 1rem;
  }

  .card {
    padding: 2rem;
  }

  .live-job h3 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 568px) {
  .job-details-head h1 {
    font-size: 1.8em;
    padding: 10px;
  }
}

/* Transporter Dashboard End */
