@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

/* Universal Start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--header-font);
}

:root {
  --header-font: "Rubik", sans-serif;
  --tomato: #ff861c;
  --blue: #055dbc;
  --light-blue: #0776ee;
  --white: #ffffff;
  --black: #000000;
}

/* Universal End */

/* DASHBOARD PAGE CSS */
/* >>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Dashboard Start */
.dahsboard-navbar-toggler {
  color: #fff;
}

.dashboard-cols {
  padding: 0 !important;
  margin: 0 !important;
}

.dashboard-sidebar {
  position: absolute;
  width: 300px;
  top: 0;
  left: 0;
  height: 150%;
  background-color: #0776ee;
  padding: 20px;
  transition: 0.5s;
}

@media screen and (max-width: 7680px) {
  .dashboard-sidebar {
    height: 80%;
  }
}

@media screen and (max-width: 3840px) {
  .dashboard-sidebar {
    height: 150%;
  }
}

@media screen and (max-width: 2560px) {
  .dashboard-sidebar {
    height: 170%;
  }
}

@media screen and (max-width: 1920px) {
  .dashboard-sidebar {
    height: 230%;
  }
}

@media screen and (max-width: 993px) {
  .dashboard-sidebar {
    height: 380%;
  }
}

.dashboard-sidebar.close {
  width: 0px;
  opacity: 0;
}

.home {
  position: relative;
  left: 300px;
  width: calc(100% - 300px);
  transition: 0.5s;
}

.dashboard-sidebar.close ~ .home {
  left: 0;
  width: calc(100%);
}

.sidebar-header {
  align-items: center;
}

.sidebar-header .sidebar-logo {
  width: 180px;
}

#sideNavbarXmarkIcon {
  border: none;
  background-color: transparent;
  color: var(--white);
  font-size: 1.3em;
}

.dashboard-sidebar .navbar-nav {
  list-style: none;
}

.dashboard-sidebar .navbar-nav li {
  padding: 8px;
  transition: 0.5s;
}

.dashboard-sidebar .navbar-nav li a {
  color: var(--white);
  font-size: 1em;
  text-decoration: none;
}

.dashboard-sidebar .navbar-nav li a i {
  padding-right: 10px;
}

.dashboard-sidebar .navbar-nav li:hover {
  background-color: #003670;
}

.dashboard-content {
  background: url(../img/dashboard-bg.png);
  width: 100%;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.15);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 30px;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.dashboard-price {
  text-align: right;
}

.dashboard-content-header h2 {
  font-size: 1.7em;
  font-family: var(--header-font);
  color: var(--black);
  font-weight: 500;
}

.dashboard-content-header p {
  font-size: 1em;
  font-family: var(--header-font);
  color: var(--black);
  font-weight: 400;
}

.dashboard-content-btn {
  margin-top: 60px;
}

.dashboard-content-btn a:nth-child(1) {
  text-decoration: none;
  background-color: rgba(7, 118, 238, 0.85);
  color: var(--white);
  font-size: 14px;
  padding: 15px 40px;
  border-radius: 6px;
  margin-right: 15px;
}

.dashboard-content-btn a:nth-child(1):hover {
  background-color: rgba(6, 93, 187, 0.85);
  transition: 0.3s ease;
}

.dashboard-content-btn a:nth-child(2) {
  text-decoration: none;
  background-color: var(--tomato);
  color: var(--white);
  font-size: 14px;
  padding: 15px 40px;
  border-radius: 6px;
}

.dashboard-content-btn a:nth-child(2):hover {
  background-color: #da6a08;
  transition: 0.3s ease;
}

.dashboard-price h4 {
  font-size: 1.6em;
  font-family: var(--header-font);
  color: var(--black);
  font-weight: 500;
}

.dashboard-price p {
  font-size: 2em;
  font-family: var(--header-font);
  color: #003670;
  font-weight: 500;
}

#sideNavbarIcon {
  border: none;
  background-color: transparent;
  font-size: 1.6em;
  display: inline-block;
  width: 50px;
  margin-right: 50px;
  color: var(--tomato);
}

#sidenavbar {
  left: -100%;
  transition: 0.5s;
}

.showSidebar {
  left: 0% !important;
}

@media screen and (max-width: 1400px) {
  .dahsboard-navbar ul {
    padding: 20px 20px 0 20px;
  }
}

@media screen and (max-width: 1200px) {
  .dashboard-content-header h2 {
    font-size: 1.4em;
  }

  .dashboard-price h4 {
    font-size: 1.3em;
  }

  .dashboard-price p {
    font-size: 1.8em;
  }

  .dashboard-content-btn a:nth-child(1),
  .dashboard-content-btn a:nth-child(2) {
    padding: 8px 20px;
  }
}

@media screen and (max-width: 990px) {
  .dahsboard-navbar ul li a {
    font-size: 1em;
  }

  .navbar-toggler {
    display: none !important;
  }

  .dahsboard-navbar ul li a:hover {
    color: #fff !important;
  }

  .dashboard-price {
    text-align: left;
    padding-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .home {
    position: relative;
    left: 0px;
    width: calc(100%);
    transition: 0.5s;
  }

  #sideNavbarIcon {
    z-index: 11;
  }

  .dashboard-sidebar {
    z-index: 10;
  }
}

@media screen and (max-width: 575px) {
  .dashboard-content-btn a {
    display: block;
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .dashboard-content {
    background-image: none;
    margin-top: 0 !important;
  }

  .dashboard-price {
    margin-top: 50px;
  }

  .dahsboard-navbar {
    background: rgba(7, 118, 238, 0.85) !important;
    height: 60vh;
  }

  .dahsboard-navbar ul li a {
    color: var(--white) !important;
  }

  .navbar-brand img {
    width: 230px;
  }

  #sideNavbarIcon {
    width: 50px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 425px) {
  .navbar-brand {
    width: 230px;
  }
}

.dashboard-job-posts {
  background: url(../img/dashboard-job-posts-bg.png);
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 50px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.15);
  margin-bottom: 60px;
}

.dashboard-job-posts h5 {
  padding-top: 0px;
}

.job-table {
  width: 100%;
}

.job-table th,
td {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-right: 40px;
}

.tb-view-btn a {
  background-color: var(--blue);
  padding: 8px;
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
  font-size: 14px;
  font-family: var(--header-font);
}

.tb-view-btn a:hover {
  color: var(--white);
}

@media screen and (max-width: 1400px) {
  .job-table {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
  }
}

@media screen and (max-width: 575px) {
  .job-table {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .dashboard-job-posts {
    width: 100% !important;
  }

  .dahsboard-navbar {
    background-color: #fff;
    color: #003670;
  }

  .dahsboard-navbar ul li a {
    color: #003670;
  }

  .dashboard-content {
    margin-top: -500px;
    z-index: 5;
  }

  .nav {
    padding-left: 0 !important;
  }
}

/* Dashboard End */

/* Transport Company Start */

#transport-company {
  background: url(../img/footer-bg.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 10 !important;
}

.tarnsport-company-content {
  color: var(--white);
  padding: 50px 0 20px 0;
  font-family: var(--header-font);
}

.tarnsport-company-content h1 {
  color: var(--white);
  padding-bottom: 20px;
  font-family: var(--header-font);
  font-size: 2.4em;
}

.tarnsport-company-content p {
  color: var(--white);
  font-family: var(--header-font);
  font-size: 1em;
}

.tarnsport-company-content p:nth-child(4) {
  margin-top: -15px;
}

.transport-company-btn {
  text-decoration: none;
  border: none;
  background-color: #ca1f26;
  color: var(--white);
  padding: 12px 30px;
  border-radius: 6px;
  font-family: var(--header-font);
  font-size: 14px;
  transition: 0.5s;
}

.transport-company-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

/* Transport Company End */

/* Footer Start */

#footer {
  background-color: #161616;
  padding: 70px 0;
  color: var(--white);
  position: relative;
  z-index: 10;
}

.footer-first-cols-content {
  margin-top: 50px;
}

.footer-first-cols-content .footer-logo {
  width: 80%;
  margin-bottom: 20px;
}

.footer-first-cols-content ul {
  list-style: none;
  padding: 0;
}

.footer-first-cols-content ul li {
  margin: 20px 0;
}

.footer-first-cols-content ul li a {
  text-decoration: none;
  color: var(--white);
}

.footer-social-icons-item {
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-social-icons-item .social-icons-link i {
  text-decoration: none;
  background-color: #055dbc;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--white);
  border-radius: 50%;
  margin-right: 5px;
}

.footer-social-icons-item .social-icons-link .fa-facebook-f {
  background-color: #2374e0;
}

.footer-social-icons-item .social-icons-link .fa-twitter {
  background-color: #1da1f3;
}

.footer-social-icons-item .social-icons-link .fa-linkedin-in {
  background-color: #0077b4;
}

.footer-social-icons-item .social-icons-link .fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  font-size: 1.4em;
}

@media screen and (max-width: 575px) {
  #footer {
    text-align: center;
  }
}

/* Footer End */

/* Copyright Footer Start */

#copyright-footer {
  background-color: var(--black);
  padding: 20px;
  text-align: center;
  color: var(--white);
}

@media screen and (max-width: 575px) {
  .hostxwhite-img {
    width: 100px;
  }
}
/* Copyright Footer End */

/* ............................... */

/* profile edit PAGE CSS */
/* >>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Dashboard profile edit Start */

/* alert msg */

.alert-msg p {
  background-color: rgba(202, 31, 38, 0.4);
  padding: 10px 20px 10px;
  border-radius: 6px;
  color: var(--black);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 50px;
  position: relative;
}

.alert-msg p span {
  position: absolute;
  top: 0px;
  right: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* profile edit msg */

.profile-edit-msg {
  margin: 40px 0 70px 0;
}

.profile-edit-msg h3 {
  font-family: var(--header-font);
  font-size: 1.8em;
  color: var(--tomato);
}

.profile-edit-msg h3 span {
  color: var(--black);
}

/* profile edit  */

.profile-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 120px;
  height: 120px;
  background: rgba(255, 255, 255, 0.18);
  border: 3px solid #ff7a12;
  backdrop-filter: blur(25px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--header-font);
}

.file-input {
  position: relative;
  padding: 10px 20px;
  overflow: hidden;
  border: none;
  background-color: transparent;
  color: var(--white);
  border-radius: 6px;
  font-family: var(--header-font);
  font-weight: 500;
}

.file-input input[type="file"] {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  transform: scale(4);
  opacity: 0;
}

.cover-photo-input {
  position: absolute;
  right: 0;
  bottom: 0;
}

.profile-photo-input {
  position: absolute;
  bottom: -110px;
  left: 38px;
}

.profile-photo-input .file-input {
  color: var(--black);
}

.cover-photo {
  position: relative;
}

.cover-photo img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-photo-box {
  position: relative;
}

.profile-photo {
  width: 130px;
  height: 130px;
  position: absolute;
  left: 50px;
  bottom: -65px;
}

.profile-photo img {
  width: 100%;
  border-radius: 50%;
  border: 4px solid var(--light-blue);
}

@media screen and (max-width: 575px) {
  .avatar {
    width: 90px;
    height: 90px;
    font-size: 1em;
    margin: auto;
  }

  .avatar-input {
    margin-top: 20px;
  }

  .profile-avatar {
    display: block;
    text-align: center;
  }

  .avatar-input {
    margin-left: 0;
  }
}

/* main profile forms */

.main-profile-forms {
  padding: 30px 40px;
  border-radius: 6px;
  margin-top: 140px;
  margin-bottom: 60px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.forms-header h2 {
  font-family: var(--header-font);
  color: var(--black);
  font-weight: 600;
  font-size: 1.8em;
  text-align: center;
}

.forms-header h2 span {
  color: var(--tomato);
}

.main-profile-forms-input input {
  height: 40px;
  margin: 15px 0;
}

.main-profile-forms-input textarea {
  height: 100px;
  margin-top: 15px;
  resize: none;
}

.main-profile-forms-input label {
  margin-top: 10px;
  font-size: 1.1em;
  font-weight: 500;
  font-family: var(--header-font);
}

.password-forms {
  padding: 30px 40px;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 60px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.password-forms-header h2 {
  font-family: var(--header-font);
  color: var(--light-blue);
  font-weight: 600;
  font-size: 1.8em;
  text-align: center;
}

@media screen and (max-width: 575px) {
  .forms-header h2 {
    font-size: 1.5em;
  }

  .password-forms-header h2 {
    font-size: 1.5em;
  }
}

/* payment method */

.payment-method-header h3 {
  text-align: center;
  font-size: 1.8em;
  color: var(--header-font);
  font-weight: 500;
  font-family: var(--header-font);
  margin-bottom: 15px;
}

.active-method h3 {
  text-align: center;
  font-size: 1.8em;
  color: var(--header-font);
  font-weight: 500;
  font-family: var(--header-font);
  margin-top: 40px;
  margin-bottom: 15px;
}

.payment-method-items {
  width: 190px;
  margin: auto;
}

.active-method p {
  text-align: center;
  color: var(--black);
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 0;
}

.update-profile-btn button {
  border: none;
  background-color: var(--light-blue);
  color: var(--white);
  font-size: 1.1em;
  padding: 10px 15px;
  border-radius: 6px;
  margin: 40px;
}

.devider {
  width: 150px;
  height: 5px;
  background-color: var(--tomato);
  border-radius: 30px;
  margin: 10px auto 50px;
}
