* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preview-box {
  padding: 10px 15px;
  box-shadow: 0px 0px 20px rgba(85, 84, 84, 0.1);
}

.popap-heading {
  justify-content: space-between;
}

.popap-heading h4 {
  color: #ff861c;
  font-weight: 700;
}

.popap-heading span {
  color: #055dbc;
}

.form-control h3 {
  color: #ff861c;
  font-weight: 650;
}

.form-control span {
  color: #0776ee;
}

.form-control-label h4 {
  color: #ff861c;
  font-weight: 700;
}

.quote-input {
  height: 30px;
  width: 100%;
  border: 1px solid;
  outline: none;
  border-radius: 6px;
  padding: 10px 15px;
  margin: 10px 0;
}

.form-control-textarea {
  width: 100%;
  padding: 10px;
}

.quote-btn {
  font-size: 1em;
  margin: 20px;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}

.quote-btn a {
  text-decoration: none;
  margin: 10px;
  font-weight: 700;
  color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
  transition: 0.5s;
  background-color: red;
}

.quote-btn a:hover {
  background-color: #fff;
  border: 1px solid;
  color: #000000;
}
